<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1><%= title %></h1>
  <form action="/profilearr" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar1" />
    <button type="submit">Save</button>
  </form>
</html>

